@using BASMockSite.ViewModels.Administration;
@model SetUsersManagerIDViewModel

<form asp-controller="SiteAdmin" asp-action="SetUsersManagerID" method="post">
    <p class="label label-default">Set User As BAS Manager</p>
    <div class="form-group row">
        <label for="UserName" class="col-sm-2 form-control-label">User Name:</label>
        <select id="UserName" class="col-sm-10" asp-for="User" asp-items="Model.Users"></select>
    </div>
    <div class="form-group row">
        <label for="Mgr" class="col-sm-2 form-control-label">BAS Manager:</label>
        <select id="Mgr" class="col-sm-10" asp-for="BASManagerID" asp-items="Model.BASManagers"></select>
        <small class="text-muted col-sm-offset-2 col-sm-10">Select a User and associate them with a BAS Manager.</small>
    </div>

    <div class="form-group row col-sm-offset-2">
        <input type="submit" value="Add" name="btnAddOrRemove" class="btn btn-primary" />
        <input type="submit" value="Remove" name="btnAddOrRemove" class="btn btn-primary" />
    </div>
</form>
