body {
    padding-top: 40px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select
{
    max-width: 280px;
}
textarea{
    max-width: 99%;
    min-height: 100px;
}


/* Carousel */
.carousel-image{
    width:100%;
    max-height:360px;
    min-height:200px;
}
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    
}
@media (max-width: 768px){
    .carousel{
        min-height:200px;
    }

    .carousel-caption p {
        font-size: 14px;
        line-height: 1.2;
    }
}

.degree-container{
    border: 2px solid black;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: 5px;
}
@media (min-width: 1200px){
    .degree-container{width:49.1%;}
}

.degree-titlebar{
    border: 1px solid red;
}

.degree-summary{
    border: 1px solid green;
}

.degree-details{
    border: 1px solid blue;
}

/*??????? DEV TESTING CSS ???????*/
div{border:1px solid black;}


