@model BASMockSite.Models.Degree

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Degree</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="DegreeID" />
        <div class="form-group">
            <label asp-for="AdmissionsSummary" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="AdmissionsSummary" class="form-control" ></textarea>
                <span asp-validation-for="AdmissionsSummary" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            
            <label asp-for="ProgramManagerID" class="control-label col-md-2">Program Manager</label>
            <div class="col-md-10">
                @Html.DropDownList("ProgramManagerID", ViewBag.ManagerID as SelectList, new { @class = "form-control" })
                <span asp-validation-for="ProgramManagerID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProgramURL" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ProgramURL" class="form-control" />
                <span asp-validation-for="ProgramURL" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RequiredCredits" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RequiredCredits" class="form-control" />
                <span asp-validation-for="RequiredCredits" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            
            <label asp-for="CollegeID" class="control-label col-md-2">School</label>
            <div class="col-md-10">
                @Html.DropDownList("CollegeID", ViewBag.SchoolID as SelectList, new { @class = "form-control" })
                <span asp-validation-for="CollegeID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
