@model IEnumerable<BASMockSite.ViewModels.Degree.DegreesListViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    The ability to create a new degree is given only to BAS_Admins. <br />
    The ability to create a new degree will be moved to an admin page later. <br />
    <a asp-action="Create">Create New</a>
</p>

<div class="col-xs-12">
    @{ await Html.RenderPartialAsync("_DegreePartial", Model);  }
</div>
